body {
    background-image: url("./media/curioUI.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-color: #8e8e8e;
}

#window{
    width:40.2%;
    height:auto;
    position: absolute;
    top: 295px;
    left: 440px;
}

.avatar {
    display:none;
    border-color: #99509f;
}